In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import json

In [2]:
df = pd.read_json('linkedin_people_profile_2023-10-05T05-49-39.jsonl',  lines=True)
df.head(2)

,profile,url,name,description,location,followers,connections,about,experience,education,certifications,publications,awards
0,ganguli-wijewardana,https://www.linkedin.com/in/ganguli-wijewardana/,Ganguli Wijewardhana,Assistant manager - Operations & Systems Analy...,"Colombo District, Western Province, Sri Lanka",450,434,Highly motivated and accomplished professional...,[{'position': 'Assistant Manager - Operations ...,[{'organisation': 'University of Kelaniya Sri ...,"[{'certification_title': '', 'certification_is...","[{'publication_title': '', 'publication_link':...",[]
1,harsha-karunanayake-875636a8,https://www.linkedin.com/in/harsha-karunanayak...,Harsha Karunanayake,Process Improvement Consultant at MAS Holdings,"Kandy, Central Province, Sri Lanka",2K,500+,"Is a Systematic Problem Solver, Ideologist, Pr...",[{'position': 'Process Improvement Consultant'...,[{'organisation': 'University of Kelaniya Sri ...,"[{'certification_title': '', 'certification_is...",[],[]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   profile         12 non-null     object
 1   url             12 non-null     object
 2   name            12 non-null     object
 3   description     12 non-null     object
 4   location        11 non-null     object
 5   followers       12 non-null     object
 6   connections     12 non-null     object
 7   about           9 non-null      object
 8   experience      12 non-null     object
 9   education       12 non-null     object
 10  certifications  12 non-null     object
 11  publications    12 non-null     object
 12  awards          12 non-null     object
dtypes: object(13)
memory usage: 1.3+ KB

In [112]:
df['experience']

0     [{'position': 'Assistant Manager - Operations ...
1     [{'position': 'Process Improvement Consultant'...
2     [{'position': 'Assistant Manager - HR & Admini...
3     [{'position': 'Senior Solutions Architect', 'o...
4     [{'position': 'Assistant Manager - Engineering...
5     [{'position': 'Manager - Data Science & Analyt...
6     [{'position': 'Lead - Data Engineering & Scien...
7     [{'position': 'Senior Executive - Technical op...
8     [{'position': 'Deputy Head of Business Finance...
9     [{'position': 'Manager - Organization Structur...
10    [{'position': '', 'organisation': '', 'organis...
11    [{'position': 'Central Autonomation Lead', 'or...
Name: experience, dtype: object

In [5]:
df['experience'][0][0]['position']

'Assistant Manager - Operations and Systems Analyst'

In [6]:
df['education'][0]

[{'organisation': 'University of Kelaniya Sri Lanka',
  'organisation_profile': 'https://www.linkedin.com/school/university-of-kelaniya-sri-lanka/',
  'course_details': 'B.Sc. (hons) in Management and Information Technology Business System Engineering',
  'description': 'Activities and Societies: Member of Leo club - University of Kelaniya\nMember of Industrial Management Science Students Association - University of kelaniya',
  'start_time': '2015',
  'end_time': '2019'},
 {'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'High School Diploma Physical Sciences',
  'description': 'Activities and Societies: School senior prefect - 2012/2013\nSchool junior prefect - 2009/2010\nMember of st john ambulance\nMember of school western band',
  'start_time': '2011',
  'end_time': '2013'},
 {'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'Middle School Diploma',
  'description': '',
  'start_time': '2005',
  'end_time': '2011'},
 {'organisation': 'CIMA',
  'organisation_profile': 'https://www.linkedin.com/school/cima/',
  'course_details': 'Accounting and Business/Management',
  'description': ''}]

Qualification section

In [8]:
# selectiong one individual's qualification list
individual_qualifications = df['education'][0]
individual_qualifications

[{'organisation': 'University of Kelaniya Sri Lanka',
  'organisation_profile': 'https://www.linkedin.com/school/university-of-kelaniya-sri-lanka/',
  'course_details': 'B.Sc. (hons) in Management and Information Technology Business System Engineering',
  'description': 'Activities and Societies: Member of Leo club - University of Kelaniya\nMember of Industrial Management Science Students Association - University of kelaniya',
  'start_time': '2015',
  'end_time': '2019'},
 {'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'High School Diploma Physical Sciences',
  'description': 'Activities and Societies: School senior prefect - 2012/2013\nSchool junior prefect - 2009/2010\nMember of st john ambulance\nMember of school western band',
  'start_time': '2011',
  'end_time': '2013'},
 {'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'Middle School Diploma',
  'description': '',
  'start_time': '2005',
  'end_time': '2011'},
 {'organisation': 'CIMA',
  'organisation_profile': 'https://www.linkedin.com/school/cima/',
  'course_details': 'Accounting and Business/Management',
  'description': ''}]

In [133]:
# Filter and sort qualifications according to their level and recency

def classify_and_order_qualifications(individual_qualifications):
    level_order = {
        'high school': 0,
        'diploma': 1,
        'bachelor': 2,
        'masters': 3,
        'phd': 4,
    }
    
    classified_qualifications = {
        'high school': [],
        'diploma': [],
        'bachelor': [],
        'masters': [],
        'phd': [],
        'other': []
    }
    
    for qualification in individual_qualifications:
        course_details = qualification.get('course_details', '').lower()
        
        # Classify qualifications
        if 'high school' in course_details or 'high school diploma' in course_details:
            classified_qualifications['high school'].append(qualification)
        elif 'diploma' in course_details:
            classified_qualifications['diploma'].append(qualification)
        elif 'bachelor' in course_details or 'b.sc.' in course_details or 'bsc.' in course_details:
            classified_qualifications['bachelor'].append(qualification)
        elif 'masters' in course_details or 'msc' in course_details:
            classified_qualifications['masters'].append(qualification)
        elif 'phd' in course_details:
            classified_qualifications['phd'].append(qualification)
        else:
            classified_qualifications['other'].append(qualification)
    
    # Order qualifications within each level
    for level, qualifications_list in classified_qualifications.items():
        qualifications_list.sort(key=lambda x: (int(x.get('start_time', 0)), int(x.get('end_time', 0))))
    
    # Sort levels based on the specified hierarchy
    ordered_individual_qualifications = []
    for level, _ in sorted(level_order.items(), key=lambda x: x[1]):
        ordered_individual_qualifications.extend(classified_qualifications[level])
    
    return ordered_individual_qualifications

In [135]:
# Example usage

ordered_individual_qualifications = classify_and_order_qualifications(individual_qualifications)
ordered_individual_qualifications

[{'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'High School Diploma Physical Sciences',
  'description': 'Activities and Societies: School senior prefect - 2012/2013\nSchool junior prefect - 2009/2010\nMember of st john ambulance\nMember of school western band',
  'start_time': '2011',
  'end_time': '2013'},
 {'organisation': 'Poramadulla Central College',
  'organisation_profile': 'https://www.linkedin.com/school/poramadullacentralcollege/',
  'course_details': 'Middle School Diploma',
  'description': '',
  'start_time': '2005',
  'end_time': '2011'},
 {'organisation': 'University of Kelaniya Sri Lanka',
  'organisation_profile': 'https://www.linkedin.com/school/university-of-kelaniya-sri-lanka/',
  'course_details': 'B.Sc. (hons) in Management and Information Technology Business System Engineering',
  'description': 'Activities and Societies: Member of Leo club - University of Kelaniya\nMember of Industrial Management Science Students Association - University of kelaniya',
  'start_time': '2015',
  'end_time': '2019'}]

In [131]:
# Get the number of qualifications
def get_number_of_qualifications(ordered_individual_qualifications):
    number_of_qualifications = len(ordered_individual_qualifications)
    return number_of_qualifications

In [132]:
number_of_qualifications = get_number_of_qualifications(ordered_individual_qualifications)
number_of_qualifications

3

In [12]:
# Find first qualification level

def get_first_qualification_level(ordered_individual_qualifications):
    # Define a dictionary to map qualification levels to encoding values
    qualification_levels = {
        'high school': 1,
        'diploma': 2,
        'bachelor': 3,
        'bsc': 3,
        'b.sc.': 3,
        'master': 4,
        'msc': 4,
        'phd': 5
    }
    
    # Convert the input string to lowercase for case-insensitive matching
    input_string = ordered_individual_qualifications[0]['course_details']
    input_string = input_string.lower()
    
    # Iterate through the qualification levels and check if they are in the input string
    for qualification, encoding in qualification_levels.items():
        if qualification in input_string:
            return encoding
    
    # Return a default value (e.g., -1) if no match is found
    return -1

In [13]:
encoding = get_first_qualification_level(ordered_individual_qualifications)
print('first qualification level: ', encoding)

first qualification level:  1

In [14]:
# Find The first qualification recency

def calculate_first_qualification_recency(ordered_individual_qualifications):
    end_time = ordered_individual_qualifications[0]['end_time']
    # Convert the start_time string to a datetime object
    end_date = datetime.strptime(end_time, '%Y')
    
    # Get the current date
    current_date = datetime.now()
    
    # Calculate the year difference
    recency = current_date.year - end_date.year
    
    return recency

In [15]:
first_qualification_recency = calculate_first_qualification_recency(ordered_individual_qualifications)
print('first_qualification_recency: ', first_qualification_recency)

first_qualification_recency:  10

In [16]:
def calculate_qualification_duration(start_time, end_time):
    # Convert start_time and end_time strings to datetime objects
    start_date = datetime.strptime(start_time, '%Y')
    
    # Check if 'present' is used as the end_time
    if end_time.lower() == 'present':
        end_date = datetime.now()
    else:
        end_date = datetime.strptime(end_time, '%Y')
    
    # Calculate the year difference
    qualification_duration = end_date.year - start_date.year
    
    return qualification_duration

In [21]:
# Find first qualification time duration

def calculate_first_qualification_duration(ordered_individual_qualifications):
    start_time = ordered_individual_qualifications[0]['start_time']
    end_time = ordered_individual_qualifications[0]['end_time']
    
    first_qualification_duration = calculate_qualification_duration(start_time, end_time)
    
    return first_qualification_duration

In [22]:
first_qualification_duration = calculate_first_qualification_duration(ordered_individual_qualifications)

print(f"first qualification duration: {first_qualification_duration}")

first qualification duration: 2

In [23]:
# Find first qualification level

def get_last_qualification_level(ordered_individual_qualifications):
    # Define a dictionary to map qualification levels to encoding values
    qualification_levels = {
        'high school': 1,
        'diploma': 2,
        'bachelor': 3,
        'bsc': 3,
        'b.sc.': 3,
        'master': 4,
        'msc': 4,
        'phd': 5
    }
    
    # Convert the input string to lowercase for case-insensitive matching
    input_string = ordered_individual_qualifications[len(ordered_individual_qualifications)-1]['course_details']
    input_string = input_string.lower()
    
    # Iterate through the qualification levels and check if they are in the input string
    for qualification, encoding in qualification_levels.items():
        if qualification in input_string:
            return encoding
    
    # Return a default value (e.g., -1) if no match is found
    return -1

In [24]:
encoding = get_last_qualification_level(ordered_individual_qualifications)
print('last qualification level: ', encoding)

last qualification level:  3

In [25]:
# Find The last qualification recency

def calculate_last_qualification_recency(ordered_individual_qualifications):
    end_time = ordered_individual_qualifications[len(ordered_individual_qualifications)-1]['end_time']
    # Convert the start_time string to a datetime object
    end_date = datetime.strptime(end_time, '%Y')
    
    # Get the current date
    current_date = datetime.now()
    
    # Calculate the year difference
    recency = current_date.year - end_date.year
    
    return recency

In [26]:
last_qualification_recency = calculate_last_qualification_recency(ordered_individual_qualifications)
print('last_qualification_recency: ', last_qualification_recency)

last_qualification_recency:  4

In [29]:
# Find last qualification time duration

def calculate_last_qualification_duration(ordered_individual_qualifications):
    start_time = ordered_individual_qualifications[len(ordered_individual_qualifications)-1]['start_time']
    end_time = ordered_individual_qualifications[len(ordered_individual_qualifications)-1]['end_time']
    
    last_qualification_duration = calculate_qualification_duration(start_time, end_time)
    
    return last_qualification_duration

In [30]:
last_qualification_duration = calculate_last_qualification_duration(ordered_individual_qualifications)

print('last qualification duration: ', last_qualification_duration)

last qualification duration:  4

In [31]:
# min and max duration
# Initialize variables to keep track of maximum and minimum durations
def calculate_qualification_durations(ordered_individual_qualifications):
    max_duration = float('-inf')  # Initialize as negative infinity
    min_duration = float('inf')   # Initialize as positive infinity
    total_duration = 0
    count = 0

    # Iterate through the list and calculate durations
    for qualification in ordered_individual_qualifications:
        start_time = qualification['start_time']
        end_time = qualification['end_time']

        # Calculate the year difference for the current item
        duration = calculate_qualification_duration(start_time, end_time)

        # Update maximum and minimum durations if needed
        if duration > max_duration:
            max_duration = duration
        if duration < min_duration:
            min_duration = duration

        # Update total duration and count
        total_duration += duration
        count += 1

    # Calculate the average duration
    average_duration = total_duration / count
    
    return max_duration, min_duration, average_duration, total_duration

In [32]:
max_duration, min_duration, average_duration, total_duration = calculate_qualification_durations(ordered_individual_qualifications)

print(f"Maximum Duration: {max_duration} years")
print(f"Minimum Duration: {min_duration} years")
print(f"Average Duration: {average_duration:.2f} years")
print(f"Total Duration: {total_duration} years")

Maximum Duration: 6 years
Minimum Duration: 2 years
Average Duration: 4.00 years
Total Duration: 12 years

Experience Section

In [140]:
# selectiong one individual's qualification list
individual_experience = df['experience'][0]
individual_experience

[{'position': 'Assistant Manager - Operations and Systems Analyst',
  'organisation': 'MAS KREEDA',
  'organisation_profile': 'https://www.linkedin.com/company/mas-kreeda',
  'location': 'Sri Lanka',
  'start_time': 'Aug 2023',
  'end_time': 'present',
  'duration': '3 months',
  'description': ''},
 {'position': 'Senior Executive - Operations & Systems Analyst',
  'organisation': 'MAS KREEDA',
  'organisation_profile': 'https://www.linkedin.com/company/mas-kreeda',
  'location': 'Colombo, Western, Sri Lanka',
  'start_time': 'Apr 2022',
  'end_time': 'Aug 2023',
  'duration': '1 year 5 months',
  'description': ''},
 {'position': 'Executive - Operations & Systems Analyst',
  'organisation': 'MAS KREEDA',
  'organisation_profile': 'https://www.linkedin.com/company/mas-kreeda',
  'location': 'Colombo, Sri Lanka',
  'start_time': 'Jan 2019',
  'end_time': 'Mar 2022',
  'duration': '3 years 3 months',
  'description': ''},
 {'position': 'Intern',
  'organisation': 'MAS Intimates',
  'organisation_profile': 'https://www.linkedin.com/company/mas-intimates',
  'location': 'Pallekele',
  'start_time': 'Sep 2017',
  'end_time': 'Feb 2018',
  'duration': '6 months',
  'description': ''}]

In [141]:
# Get the number of qualifications
def get_number_of_experience(individual_experience):
    number_of_experience = len(individual_experience)
    return number_of_experience

In [142]:
number_of_experience = get_number_of_experience(individual_experience)
number_of_experience

4

In [35]:
# Get job level
def get_first_job_level(individual_experience):
    # Define a dictionary to map qualification levels to encoding values
    job_levels = {
        'executive': 1,
        'senior executive': 2,
        'assistant manager': 3,
        'associate manager': 3,
        'manager': 4,
        'deputy general manager': 5,
        'general manager': 6,
        'director': 7,
        'ceo': 8,
    }
    
    # Convert the input string to lowercase for case-insensitive matching
    input_string = individual_experience[len(individual_experience)-1]['position']
    input_string = input_string.lower()
    
    # Iterate through the qualification levels and check if they are in the input string
    for job, encoding in job_levels.items():
        if job in input_string:
            return encoding
    
    # Return a default value (e.g., -1) if no match is found
    return -1

In [36]:
encoding = get_first_job_level(individual_experience)
print('first job level: ', encoding)

first job level:  -1

In [59]:
def calculate_first_job_recency(individual_experience):
    end_time = individual_experience[len(individual_experience)-1]['end_time']
    
    if end_time.lower() == 'present':
        return 0  # If the end_time is 'present,' return 0 years of recency

    # Convert the end_time string to a datetime object
    end_date = datetime.strptime(end_time, '%b %Y')
    
    # Get the current date
    current_date = datetime.now()
    
    # Calculate the year difference
    years_diff = current_date.year - end_date.year
    months_diff = current_date.month - end_date.month
        
    recency = years_diff + (months_diff / 12.0)
    
    # Round total_recency to two decimal places
    recency = round(recency, 2)
    
    return recency

In [60]:
first_job_recency = calculate_first_job_recency(individual_experience)
print('first_job_recency: ', first_job_recency)

first_job_recency:  5.67

In [91]:
def calculate_job_duration(duration):
    # Extract the 'duration' value from the dictionary
#     duration_str = individual_experience['duration']

    # Split the 'duration' value into months and years
    duration_parts = duration.split()

    # Initialize variables to store the number of months and years
    total_months = 0
    total_years = 0

    # Iterate through the 'duration' parts and sum up months and years
    for i in range(0, len(duration_parts), 2):
        value = int(duration_parts[i])
        unit = duration_parts[i + 1].lower()

        if unit == 'months':
            total_months += value
        elif unit == 'years':
            total_years += value

    # Calculate the total duration in months and then convert to years
    total_duration_in_months = total_months + (total_years * 12)
    total_duration_in_years = total_duration_in_months / 12

    return total_duration_in_years

In [92]:
def calculate_first_job_duration(individual_experience):
    duration = individual_experience[len(individual_experience)-1]['duration']
    
    first_job_duration = calculate_job_duration(duration)
    
    return first_job_duration

In [93]:
first_job_duration = calculate_first_job_duration(individual_experience)

print('first job duration: ', first_job_duration)

first job duration:  0.5

In [94]:
# Get job level
def get_last_job_level(individual_experience):
    # Define a dictionary to map qualification levels to encoding values
    job_levels = {
        'executive': 1,
        'senior executive': 2,
        'assistant manager': 3,
        'associate manager': 3,
        'manager': 4,
        'deputy general manager': 5,
        'general manager': 6,
        'director': 7,
        'ceo': 8,
    }
    
    # Convert the input string to lowercase for case-insensitive matching
    input_string = individual_experience[0]['position']
    input_string = input_string.lower()
    
    # Iterate through the qualification levels and check if they are in the input string
    for job, encoding in job_levels.items():
        if job in input_string:
            return encoding
    
    # Return a default value (e.g., -1) if no match is found
    return -1

In [95]:
encoding = get_last_job_level(individual_experience)
print('last job level: ', encoding)

last job level:  3

In [97]:
def calculate_last_job_recency(individual_experience):
    end_time = individual_experience[0]['end_time']
    
    if end_time.lower() == 'present':
        return 0  # If the end_time is 'present,' return 0 years of recency

    # Convert the end_time string to a datetime object
    end_date = datetime.strptime(end_time, '%b %Y')
    
    # Get the current date
    current_date = datetime.now()
    
    # Calculate the year difference
    years_diff = current_date.year - end_date.year
    months_diff = current_date.month - end_date.month
        
    recency = years_diff + (months_diff / 12.0)
    
    # Round total_recency to two decimal places
    recency = round(recency, 2)
    
    return recency

In [98]:
last_job_recency = calculate_last_job_recency(individual_experience)
print('last_job_recency: ', last_job_recency)

last_job_recency:  0

In [99]:
def calculate_last_job_duration(individual_experience):
    duration = individual_experience[0]['duration']
    
    first_job_duration = calculate_job_duration(duration)
    
    return first_job_duration

In [100]:
last_job_duration = calculate_last_job_duration(individual_experience)

print('first job duration: ', last_job_duration)

first job duration:  0.25

In [101]:
def calculate_job_durations(individual_experience):
    max_duration = 0
    min_duration = float('inf')
    total_duration = 0

    # Calculate durations and update variables
    for experience in individual_experience:
        duration_str = experience['duration']
        duration = calculate_job_duration(duration_str)

        if duration > max_duration:
            max_duration = duration

        if duration < min_duration:
            min_duration = duration

        total_duration += duration

    # Calculate average duration
    average_duration = total_duration / len(individual_experience)
    
    return max_duration, min_duration, average_duration, total_duration

In [102]:
max_duration, min_duration, average_duration, total_duration = calculate_job_durations(individual_experience)

print(f"Maximum Duration: {max_duration} years")
print(f"Minimum Duration: {min_duration} years")
print(f"Average Duration: {average_duration:.2f} years")
print(f"Total Duration: {total_duration} years")

Maximum Duration: 3.25 years
Minimum Duration: 0.25 years
Average Duration: 1.10 years
Total Duration: 4.416666666666667 years

In [122]:
def get_number_of_companies(individual_experience):       
    companies = set()

    # Iterate through the list and add each organization name to the set
    for experience in individual_experience:
        company_name = experience.get('organisation')
        if company_name:
            companies.add(company_name)

    # Count the number of unique organizations
    number_of_companies = len(companies)
    
    return number_of_companies

In [123]:
number_of_companies = get_number_of_companies(individual_experience)
print(f"Number of unique organizations: {number_of_companies}")

Number of unique organizations: 2

In [148]:
encoded_attributes = {}

for index, row in df.iterrows():
    encoded_attributes['name'] = row['name']  # Use row to access the 'name' column for the current row
    
    
    # Qualifications
    individual_qualifications = row['education']
    
    ordered_individual_qualifications = classify_and_order_qualifications(individual_qualifications)
    
    number_of_qualifications = get_number_of_qualifications(ordered_individual_qualifications)
    encoded_attributes['number_of_qualifications'] = number_of_qualifications
    
    first_qualification_level = get_first_qualification_level(ordered_individual_qualifications)
    encoded_attributes['first_qualification_level'] = first_qualification_level
    
    first_qualification_recency = calculate_first_qualification_recency(ordered_individual_qualifications)
    encoded_attributes['first_qualification_recency'] = first_qualification_recency
    
#     calculate_qualification_duration(start_time, end_time)
    
    first_qualification_duration = calculate_first_qualification_duration(ordered_individual_qualifications)
    encoded_attributes['first_qualification_duration'] = first_qualification_duration
    
    last_qualification_level = get_last_qualification_level(ordered_individual_qualifications)
    encoded_attributes['last_qualification_level'] = last_qualification_level
    
    last_qualification_recency = calculate_last_qualification_recency(ordered_individual_qualifications)
    encoded_attributes['last_qualification_recency'] = last_qualification_recency
    
    last_qualification_duration = calculate_last_qualification_duration(ordered_individual_qualifications)
    encoded_attributes['last_qualification_duration'] = last_qualification_duration
    
    max_duration, min_duration, average_duration, total_duration = calculate_qualification_durations(ordered_individual_qualifications)
    encoded_attributes['minimum_durations'] = min_duration
    encoded_attributes['maximum_durations'] = max_duration
    encoded_attributes['total_duration'] = total_duration
    encoded_attributes['average_duration'] = average_duration
    
    
    # Experience
    individual_experience = row['experience']
    
    number_of_experience = get_number_of_experience(individual_experience)
    encoded_attributes['number_of_experience'] = number_of_experience
    
    first_job_level = get_first_job_level(individual_experience)
    encoded_attributes['first_job_level'] = first_job_level
    
    first_job_recency = calculate_first_job_recency(individual_experience)
    encoded_attributes['first_job_recency'] = first_job_recency
    
#     calculate_job_duration(duration)
    
    first_job_duration = calculate_first_job_duration(individual_experience)
    encoded_attributes['first_job_duration'] = first_job_duration
    
    last_job_level = get_last_job_level(individual_experience)
    encoded_attributes['last_job_level'] = last_job_level
    
    last_job_recency = calculate_last_job_recency(individual_experience)
    encoded_attributes['last_job_recency'] = last_job_recency
    
    last_job_duration = calculate_last_job_duration(individual_experience)
    encoded_attributes['last_job_duration'] = last_job_duration
    
    max_duration, min_duration, average_duration, total_duration = calculate_job_durations(individual_experience)
    encoded_attributes['minimum_durations'] = min_duration
    encoded_attributes['maximum_durations'] = max_duration
    encoded_attributes['total_duration'] = total_duration
    encoded_attributes['average_duration'] = average_duration
    
    number_of_companies = get_number_of_companies(individual_experience)
    encoded_attributes['number_of_companies'] = number_of_companies

IndexError: list index out of range

In [149]:
encoded_attributes

{'name': 'Harsha Karunanayake',
 'number_of_qualifications': 0,
 'first_qualification_level': 1,
 'first_qualification_recency': 10,
 'first_qualification_duration': 2,
 'last_qualification_level': 3,
 'last_qualification_recency': 4,
 'last_qualification_duration': 4,
 'minimum_durations': 0.25,
 'maximum_durations': 3.25,
 'total_duration': 4.416666666666667,
 'average_duration': 1.1041666666666667,
 'number_of_experience': 4,
 'first_job_level': -1,
 'first_job_recency': 5.67,
 'first_job_duration': 0.5,
 'last_job_level': 3,
 'last_job_recency': 0,
 'last_job_duration': 0.25,
 'number_of_companies': 2}