In [23]:
import pandas as pd
import pickle
from xgboost import XGBClassifier
from xgboost import XGBRegressor

In [24]:
# Load the saved XGBoost classifier model
with open('xgb_classification_model.pkl', 'rb') as model_file:
    loaded_model = pickle.load(model_file)

In [25]:
# Load the saved XGBoost classifier model
with open('xgb_regression_model.pkl', 'rb') as r_model_file:
    loaded_r_model = pickle.load(r_model_file)

In [26]:
df = pd.read_csv('C:\\Users\\dishans\\OneDrive - MAS Holdings (Pvt) Ltd\\LinkedIn web scrape\\basic-scrapy-project\\encoded_data\\final_dataset.csv')
df
# C:\Users\dishans\OneDrive - MAS Holdings (Pvt) Ltd\LinkedIn web scrape\basic-scrapy-project\encoded_data

,profile_name,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,...,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y
0,dishan-sandasara,2,1,39,7,3.0,84,0,1,1,...,36,4.0,148.0,1,0,36,18.0,36,2,1.0

In [27]:
X = df.drop(["profile_name"], axis=1)
X

,number_of_jobs,first_job_level,first_job_recency_months,first_job_duration_months,first_company_size,first_company_age_years,first_company_apparel,first_company_sri_lankan,last_job_level,last_job_recency_months,...,last_qual_duration_months,last_institute_size,last_institute_age_years,last_institute_sri_lankan,minimum_qual_duration_months,maximum_qual_duration_months,average_qual_duration_months,total_qual_duration_months,number_of_institutes,duration ratio in sri lanka_y
0,2,1,39,7,3.0,84,0,1,1,5,...,36,4.0,148.0,1,0,36,18.0,36,2,1.0

In [28]:
# Assuming `new_data` is your new data for predictions
predictions = loaded_model.predict(X)
predictions

array([1])

In [29]:
r_predictions = loaded_r_model.predict(X)
r_predictions

array([1])

In [31]:
import pandas as pd
import pickle
from xgboost import XGBClassifier
from xgboost import XGBRegressor

# Load the saved XGBoost classifier model
with open('xgb_classification_model.pkl', 'rb') as classification_model_file:
    classification_model = pickle.load(classification_model_file)

df = pd.read_csv('C:\\Users\\dishans\\OneDrive - MAS Holdings (Pvt) Ltd\\LinkedIn web scrape\\basic-scrapy-project\\encoded_data\\final_dataset.csv')

X = df.drop(["profile_name"], axis=1)

# Assuming `new_data` is your new data for predictions
job_change_predictions = classification_model.predict(X)

print('Turnover possibility: ', job_change_predictions)

if job_change_predictions != 0:
    # Load the saved XGBoost classifier model
    with open('xgb_regression_model.pkl', 'rb') as regression_model_file:
        regression_model = pickle.load(regression_model_file)

    job_change_horizon_predictions = regression_model.predict(X)

    print('Job change horizon: ', job_change_horizon_predictions)

else:
    print(0)

Turnover possibility:  [1]
Job change horizon:  [1]